@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Aby zrestartować hasło zastosuj się do instrukcji przesłanej na podany adres e-mail.
</p>
