@page
@model Magazyn.Pages.Lokacje.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Lokacja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lokacja.Id" />
            <div class="form-group">
                <label asp-for="Lokacja.magazyn" class="control-label"></label>
                <input asp-for="Lokacja.magazyn" class="form-control" />
                <span asp-validation-for="Lokacja.magazyn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacja.szafa" class="control-label"></label>
                <input asp-for="Lokacja.szafa" class="form-control" />
                <span asp-validation-for="Lokacja.szafa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacja.dzial" class="control-label"></label>
                <input asp-for="Lokacja.dzial" class="form-control" />
                <span asp-validation-for="Lokacja.dzial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacja.pomieszczenie" class="control-label"></label>
                <input asp-for="Lokacja.pomieszczenie" class="form-control" />
                <span asp-validation-for="Lokacja.pomieszczenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
