@page
@model Magazyn.Pages.SorzetyMergeDB.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sprzet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sprzet.SN" class="control-label"></label>
                <input asp-for="Sprzet.SN" class="form-control" />
                <span asp-validation-for="Sprzet.SN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.producent" class="control-label"></label>
                <input asp-for="Sprzet.producent" class="form-control" />
                <span asp-validation-for="Sprzet.producent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.Model" class="control-label"></label>
                <input asp-for="Sprzet.Model" class="form-control" />
                <span asp-validation-for="Sprzet.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.osobaPrzypisana" class="control-label"></label>
                <input asp-for="Sprzet.osobaPrzypisana" class="form-control" />
                <span asp-validation-for="Sprzet.osobaPrzypisana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.lokalizacja" class="control-label"></label>
                <input asp-for="Sprzet.lokalizacja" class="form-control" />
                <span asp-validation-for="Sprzet.lokalizacja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.status" class="control-label"></label>
                <input asp-for="Sprzet.status" class="form-control" />
                <span asp-validation-for="Sprzet.status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.typ" class="control-label"></label>
                <input asp-for="Sprzet.typ" class="form-control" />
                <span asp-validation-for="Sprzet.typ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sprzet.osobaPrzypisanaID" class="control-label"></label>
                <input asp-for="Sprzet.osobaPrzypisanaID" class="form-control" />
                <span asp-validation-for="Sprzet.osobaPrzypisanaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
